.modal-wrapper {
  position: absolute;
  background-color: #00000070;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;

  z-index: 100;
}

.modal {
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal input {
  border-radius: 6px;
}
