* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cashier {
  padding: 2rem;
  background: #abb1b1;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info p {
  font-size: 1.4rem;
}

.edit-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-buttons button {
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
